# Servidor Web (Backend / API)
Flask==3.0.2
Werkzeug==3.0.1

# Banco de Dados e Variáveis de Ambiente
SQLAlchemy>=2.0.51
psycopg[binary]>=3.1.18
python-dotenv==1.0.1

# Visão Computacional, IA e Processamento
ultralytics==8.1.24
opencv-python>=5.0.0.93
numpy>=2.0

# Interface Gráfica e Imagens (Módulo de Hardware/Edge)
Pillow

# Comunicação Edge -> Servidor
requests==2.31.0